.paginations {
    width: 100%;
    height: 5vh;
    background-color: #e3801b;
    display: flex;
    padding-top: 3px;
}

.pages {
    position: absolute;
    display: inline-block;
}

.pages div {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
    font-weight: 600;
    color: white;
}

.pages div:hover:not(.active) {
    background-color: #ddd;
}

.limit-field {
    position: absolute;
    right: 0;
    display: flex;
    border: #ffffff;
    transition: all 0.5s ease-in-out;
}

.label-limit {
    margin-top: 8px;
}

.limit {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    border-radius: 40px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.limit:hover {
    transition: all 0.2s ease-in-out;
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}