.button-field {
    display: flex;
    justify-content: center;
}

.button {
    width: 120px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(105, 12, 119, 0.89);
    color: white;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.button:hover {
    background-color: #12e13e;
    color: white;
}

.label-button {
    margin: 6px;
}

.button-refuze{
    background-color: #ea0c2d;
}