.modalWindow {
    background: radial-gradient(rgb(217, 214, 214), rgba(255, 255, 255, 0.91));
    position: absolute;
    right: calc(50% - 850px / 2);
    width: 850px;
    top: calc(50% - 840px / 2);
    height: 840px;
    padding: 5px;
    border-radius: 40px;
    z-index: 6;
    display: flex;
    box-shadow: inset 0 0 10px rgba(28, 42, 220, 0.7)
}

.modalOpacity {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 8;
}

.content-room{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;

}

.content-img{
    width: 100%;
    height: 60%;
    display: block;
    text-align: center;
}
.image-modal {
    width: 100%;
    height: 90%;
    border-radius: 40px 20px 10px 10px;
}

.label {
    font-family: Georgia, serif;
    width: 100%;
    height: 20%;
    font-size: 27px;
    color: black;
}

.content-info{
    width: 35%;
    height: 100%;
    display: block;
    padding-left: 20px;
}

